name: Update vscode-icons Submodule

on:
  schedule:
    - cron: '0 0 * * *'

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Get latest tag in submodule
        id: get_local_tag
        run: |
          cd vscode-icons/
          tag=$(git describe --abbrev=0 --tags)
          echo "local_tag=$tag" >> "$GITHUB_OUTPUT"

      - name: Fetch upstream tag
        id: get_upstream_tag
        run: |
          tag=$(curl -sS \
            -H "Accept: application/vnd.github.v3+json" \
            -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            https://api.github.com/repos/catppuccin/vscode-icons/releases/latest \
            | jq -r '.tag_name')
            echo "upstream_tag=$tag" >> "$GITHUB_OUTPUT"

      - name: Check tag difference
        id: check_difference
        run: |
          upstream="${{ steps.get_upstream_tag.outputs.upstream_tag }}"
          local="${{ steps.get_local_tag.outputs.local_tag }}"
          if [ "$upstream" != "$local" ]; then
            cd vscode-icons/
            git fetch
            git merge origin/main
            git reset --hard $upstream
            echo "modified=1" >> "$GITHUB_OUTPUT"
          else
            echo "No difference between upstream and local tags"
            echo "modified=0" >> "$GITHUB_OUTPUT"
          fi

      - name: Create Pull Request
        if: ${{ steps.check_difference.outputs.modified == '1' }}
        uses: peter-evans/create-pull-request@v6
        with:
          commit-message: 'feat: update vscode-icons submodule to ${{ steps.get_upstream_tag.outputs.upstream_tag }}'
          branch: 'feat/update-vscode-icons-${{ steps.get_upstream_tag.outputs.upstream_tag }}'
          title: 'feat: update vscode-icons submodule to ${{ steps.get_upstream_tag.outputs.upstream_tag }}'
          body: |
            This automated PR updates the [catppuccin/vscode-icons](https://github.com/catppuccin/vscode-icons) submodule to  ${{ steps.get_upstream_tag.outputs.upstream_tag }}.
